@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e0f2fe;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}

::selection {
  background: #2563eb;
  color: white;
}